.main {

}

.header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    border-bottom: 1px dotted black;
}

.header-logo {
    height: 80%;
    width: 10%;
    margin-left: 15px;
    margin-top: 10px;
}

.mint-button {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.header-profile-div {
    display: flex;
    align-items: center;
}